version: '3'

services:
  frontend:
    image: eeacms/clms-frontend
    ports:
      - '${FRONTEND:-8000}:3000'
    depends_on:
      - backend
    environment:
      RAZZLE_INTERNAL_API_PATH: 'http://localhost:${BACKEND:-8080}/Plone'
      RAZZLE_DEV_PROXY_API_PATH: 'http://backend:${BACKEND:-8080}/Plone'

  backend:
    image: eeacms/clms-backend:latest
    ports:
      - '${BACKEND:-8080}:8080'
    depends_on:
      - memcached
      - redis
      - postgres
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DOWNLOADTOOL_DB_DSN: 'dbname=downloadtool user=zope password=zope host=postgres'
    volumes:
      - data:/data

  memcached:
    image: memcached
    command: ['-m', '512']

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  asyncjobs:
    image: eeacms/clms-async-jobs:latest
    depends_on:
      - redis
      - backend
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

      PLONE_URL: http://backend:8080/Plone
      PLONE_AUTH_TOKEN: hello1234

      ENABLED_JOBS: create_cdse_batches
      BULL_QUEUE_NAMES_CSV: cdse_jobs

      PORT: 3100
    ports:
      - '3100:3100'

  postgres:
    image: eeacms/postgres:16s
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DBNAME: 'downloadtool'
      POSTGRES_DBUSER: zope
      POSTGRES_DBPASS: zope
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  data:
    driver: local
  postgres-data:
